################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/portfolio/FileContentIndex/1a3a6b5b-a32a-4107-844f-f34c5fdffd97.vsidx
/.vs/portfolio/FileContentIndex/916b61b0-a962-4ece-b337-397da569b778.vsidx
